# Python __pycache__ and compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
ENV/
.venv/

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/



# VSCode and IDE settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*