# Django Framework
django~=5.2

# For loading environment variables from .env file
python-dotenv~=1.0

# For Google Search via SerpApi
google-search-results~=2.4

# For making HTTP requests to the Gemini API
requests~=2.32  

playwright
bs4
google-generativeai

sendgrid
# For downloading and processing YouTube videos
yt-dlp
moviepy
google-generativeai
webvtt-py
google-api-python-client
google-auth-oauthlib
webvtt-py